// LIGHT THEME
$bg-color: #faf7f0;
$bg-color-alt: #d8d2c2;
$accent-color: #b17457;
$text-title: #4a4947;
$text-body: #303030;

// DARK THEME
$dark-bg-color: #4a4947;
$dark-bg-color-alt: #827e74;
$dark-accent-color: #472e23;
$dark-text-title: #d8d2c2;
$dark-text-body: #faf7f0;

$breakpoint-xs: 0px;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-lg: 992px;
$breakpoint-xl: 1200px;
